/* CSS RESET & REGOLE GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    background-color: #F6F8F9;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* Proprietà di debug - le metto all'inizio per le regole della specificità */
/* body * {
    border: 2px solid red;
    padding: 15px;
} */

/* Proprietà header */
.main-header {
    padding: 10px 0;
}

.main-header,
.container {
    /* background-color: #FFFFFF; */
    /* colore per debug */
    background-color: blue;
}

.main-header * {
    vertical-align: middle;
}

.main-header h1 {
    display: inline-block;
}

/* Proprietà container */
.container {
    /* Altezza per vedere qualcosa */
    height: 300px;
    max-width: 800px;
    margin: 40px auto;
}

/* Proprietà main */

/* Proprietà main-header */

/* Proprietà main-section */