/* CSS RESET & REGOLE GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background-color: #F6F8F9;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* Proprietà di debug - le metto all'inizio per le regole della specificità */
body * {
    border: 2px solid red;
    padding: 15px;
    background-color: goldenrod;
}

/* Proprietà header */
header,
.container {
    /* background-color: #FFFFFF; */
    /* colore per debug */
    background-color: blue;
}

/* Proprietà container */
.container {
    /* Altezza per vedere qualcosa */
    height: 600px;
}

/* Proprietà main */

/* Proprietà main-header */

/* Proprietà main-section */