/* CSS RESET & REGOLE GENERALI */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    height: 100%;
    background-color: #F6F8F9;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

/* Proprietà di debug - le metto all'inizio per le regole della specificità */
/* body * {
    border: 2px solid red;
    padding: 15px;
} */

/* Proprietà header */
.logo-header {
    padding: 10px;
}

.logo-header,
.container {
    background-color: #FFFFFF;
    /* colore per debug */
    /* background-color: blue; */
}

.logo-header * {
    vertical-align: middle;
}

.logo-header h1 {
    display: inline-block;
}

/* Proprietà container */
.container {
    /* Altezza per vedere qualcosa */
    max-width: 800px;
    margin: 40px auto;
    border-radius: 8px;
}

/* Proprietà main */

/* Proprietà main-header */
.button-container {
    border-bottom: 1px solid #F6F8F9;
    padding: 15px 40px 10px;
}

.button-container button {
    background-color: #FFFFFF;
    padding: 5px 8px;
    font-size: 0.7em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.button-container .selected-button {
    background-color: #45ABEA;
    color: #FFFFFF;
}

.button-container .unselected-button {
    background-color: #FFFFFF;
    color: #BEBEBE;
    border: 1px solid #BEBEBE;
}

/* Proprietà main-section */
.sections-container {
    padding: 40px 60px;
}

/* Elimino stile lista di default e aggiungo padding verticale fra gli elementi */
ul {
    list-style-type: none;
}

ul,
li {
    padding: 5px 0;
}

/* h3 inline */
ul h3 {
    display: inline;
}

/* personalizzo lo stile della lista grazie a ::before */
.title-list::before,
.element-list::before {
    display: inline-block;
    cursor: pointer;
}

.title-list::before {
    margin: 0 10px;
    content: '\23F7';
}

.element-list::before {
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    width: 15px;
    height: 15px;
    margin: 0 20px 0 10px;
}

.element-list.check-item::before {
    content: '\1F5F8';
    color: #64C0A9;
    border: 1px solid #64C0A9;
}

.element-list.cross-item::before {
    content: '\2717';
    color: #FF0000;
    border: 1px solid #FF0000;
}

/* Gestione stile dei badge */
.badge {
    color: white;
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 0.6em;
    font-weight: normal;
}

.badge.editorial {
    background-color: #45ABEA;
}

.badge.q1-goals {
    background-color: #9C72E4;
}

.badge.recruiting {
    background-color: #64C0A9;
}

.badge.mobile {
    background-color: #F29E33;
}

.badge.website {
    background-color: #D863A1;
}

.badge.sales {
    background-color: #B0C926;
}